{% extends '@EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
    {% if form_title is defined %}
        {% if ea is defined %}
            <a class="logo {{ form_title|length > 14 ? 'logo-long' }}" title="{{ form_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                {{ form_title|raw }}
            </a>
        {% else %}
            <div class="logo {{ form_title|length > 14 ? 'logo-long' }}">
                {{ form_title|raw }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}