{% set contacts = field.value %}

{% if contacts|length == 0 %}
    <span>Aucun(e)</span>
{% else %}
    <ul class="list-unstyled ps-3">
        {% for contact in contacts %}
            {% set otherStructures = contact.structures|filter(structure => structure.id != entity.instance.id) %}
            <li>
                <p class="fw-bold">Contact #{{ loop.index }}</p>
                <div class="ps-4">
                    <p>Civilité : {{ contact.civility }}</p>
                    <p>Prénom : {{ contact.firstname }}</p>
                    <p>Nom : {{ contact.lastname }}</p>
                    <p>Fonctions : {{ contact.structuresFunctions|join(', ') }}</p>
                    <p>Autres structures : {{ otherStructures|join(', ') }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}