{% set contacts = field.value %}

<table class="table">
    <thead>
        <tr>
            <th>Civilité</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Fonctions</th>
            <th>Autres structures</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            {% set otherStructures = contact.structures|filter(structure => structure.id != entity.instance.id) %}
            {% set url = ea_url()
                .unsetAll()
                .setController('App\\Controller\\Admin\\ContactCrudController')
                .setAction('detail')
                .setEntityId(contact.id)
                .generateUrl()
            %}
            <tr>
                <td>{{ contact.civility|trans }}</td>
                <td><a href="{{ url }}" target="_blank">{{ contact.firstname }}</a></td>
                <td><a href="{{ url }}" target="_blank">{{ contact.lastname }}</a></td>
                <td>{{ contact.structuresFunctions|join(', ') }}</td>
                <td>{{ otherStructures|join(', ') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>